RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

#RewriteEngine On
# RewriteBase /business
#
#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d
#  RewriteCond $1 !^(index\.php|images|robots\.txt|css|docs|js|system)
#  RewriteRule ^(.*)$ /business/index.php?/$1 [L]
